#root {
  margin: 0px;
  padding: 0px;
}


.cart-empty-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.cart-empty-img {
    width: 180px;
    height: 190px;
}

@media screen and (min-width: 768px) {
    .cart-empty-img {
        width: 360px;
        height: 380px;
    }
}

.cart-empty-heading {
    color: #1e293b;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .cart-empty-heading {
        font-size: 32px;
    }
}

.shop-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 16px;
    border-radius: 6px;
    padding: 6px 16px;
    border: none;
    background-color: #21242D;
    color: #D3D3D3;
    outline: none;
    cursor: pointer;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (min-width: 768px) {
    .loader-container {
        width: 70%;
    }
}

.products-error-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .products-error-view-container {
        margin-top: 0px;
        margin-left: 30px;
        width: 80%;
        padding-bottom: 0;
    }
}

.products-failure-img {
    width: 250px;
    height: 200px;
}

@media screen and (min-width: 768px) {
    .products-failure-img {
        width: 400px;
        height: 350px;
    }
}

.product-failure-heading-text {
    color: #171f46;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}

@media screen and (min-width: 768px) {
    .product-failure-heading-text {
        font-size: 24px;
    }
}

.products-failure-description {
    text-align: center;
    color: #64748b;
    font-family: 'Poppins';
    font-size: 24px;
    width: 100%;
    max-width: 288px;
    line-height: 1.3;
}

@media screen and (min-width: 768px) {
    .products-failure-description {
        font-size: 18px;
        width: 60%;
        max-width: 466px;
    }
}